body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px;
    transition: opacity 0.5s ease-in-out;
}

/* تأثيرات التلاشي */
.hidden {
    display: none;
    opacity: 0;
}

.show {
    display: block;
    opacity: 1;
    transition: opacity 9000s ease-in-out;
}

input {
    padding: 12px;
    width: 100%;
    margin: 10px 0;
    border: 2px solid #3498db;
    border-radius: 5px;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #2980b9;
    outline: none;
}

button {
    padding: 12px;
    width: 100%;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

ul {
    text-align: left;
}

p {
    color: #34495e;
}
